body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  text-align: center;
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pointer {
  cursor: pointer;
}

.app-body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-list {
  min-width: 320px;
}

.todo-item {
  width: 100%;
}

.todo-text {
  width: 100%;
  cursor: pointer;
}

.todo-text-done {
  text-decoration: line-through;
}

.clear-button {
  float: right;
}
